/* 
    Document   : statScreen
    Created on : Mar 3, 2013, 8:06:35 PM
    Author     : Dan
    Description:
        Purpose of the stylesheet follows.
*/

#tabs-top { 
    background:none;
	margin-left:12em;
	margin-right:2em;
	border: none;
} 
#tabs-top ul {
	background:none;
	border: none;
}

#tabs-top .ui-tabs-nav li { 
    margin-left:1em;
} 



#tabs-left .ui-tabs-nav li a { 
    float: left; 
    width: 100%; 
    text-align: left; 
} 
#tabs-left > div { 
    height: 35em; 
    background:transparent;
}

.tabContent{

}

.tabContent > h2{
    
}
.tabContent > td {
    
}

.tabContainerBack
{
	position:absolute;
	
	background-color:#FFF;
	border: 2px solid #000;
	border-radius: 12px;
	opacity:0.75;
	
	left:13em;
	top:3em;
	width:35em;
	height:90%;
}

.searchBack
{
	position:absolute;
	
	background-color:#FFF;
	border: 2px solid #000;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	opacity:0.75;
	
	left:30px;
	top:60px;
	width:150px;
	height:100px;
	
	text-align:center;
	font-size:200%;
	font-weight:bold;
	
}


.searchField
{
	position:absolute;
	
	left:2em;
	top:7em;
}

.searchResultDiv
{
	position:absolute;
	
	background-color:#FFF;
	border: 2px solid #000;
	border-radius:12px;
	opacity:0.75;
	
	left:30px;
	top:160px;
	width:150px;
	height:300px;
}

.searchResult
{
	position:absolute;
	
	
	background-color:#88A;
	border: 2px solid #000;
	border-radius:12px;
	left:10%;
	width:120px;
	height:20px;
	
	text-align:center;
	font-size:100%;
	font-weight:bold;
}

.backDiv
{
	position:absolute;
	top:500px;
	left:25px;
	width:140px;
	height:45px;
}

.backList
{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0.3em 0.3em 0.3em 0.2em;
}

.backListItem
{
	right: 0px;
	width: 100%;
	
	border-right: medium none;
	border-bottom-width: 1px !important;
	
	border-radius: 3px 0px 0px 3px;
	overflow: hidden;
}
  
.backAnchor
{
	float: left;
	width: 75%;
	text-align: left;
}

.entryText
{
	width: 75%;
}

.figure
{
	position: absolute;
	right: 0.5em;
	top: 8em;
}

.playChord
{
	background-image: url('../img/DatabaseScreen/PlayChord.png');
	position: absolute;
	right: 4em;
	top: 21em;
	width: 85px;
	height: 85px;
}