.fsetChordType
{
	position:absolute;
	
	top: 20px;
	left: 20px;
	width: 120px;
	height: 300px;
}

.fsetChordTypeBack
{
	background-color:#A0A0F0;
	opacity:0.4;
	
	position:absolute;
	top: 30px;
	left: 22px;
	width: 144px;
	height: 310px;
}

.fsetChordQuality
{
	position:absolute;
	
	top: 20px;
	left: 180px;
	width: 120px;
	height: 300px;
}

.fsetChordQualityBack
{
	background-color:#A0A0F0;
	opacity:0.4;
	
	position:absolute;
	top: 30px;
	left: 182px;
	width: 144px;
	height: 310px;
}

.fsetGenerator
{
	position:absolute;
	
	top: 360px;
	left: 20px;
	width: 280px;
	height: 140px;
}

.fsetGeneratorBack
{
	background-color:#A0A0F0;
	opacity:0.4;
	
	position:absolute;
	top: 370px;
	left: 22px;
	width: 304px;
	height: 150px;
}

.trackList
{
	position:absolute;
	
	top: 20px;
	left: 350px;
	width: 200px;
	height: 480px;
}

.trackListBack
{
	background-color:#A0A0F0;
	opacity:0.4;
	
	position:absolute;
	top: 30px;
	left: 352px;
	width: 224px;
	height: 490px;
}

.checkbox
{
	background-position:0px 0px;
}

.checkboxChecked
{
	background-position:-30px 0px;
}

.checkbox, .checkboxChecked
{
    background-image: url('../img/checkbox.png');
    background-repeat: no-repeat;
    float: left;
    width: 30px;
    height: 30px;
}


.startExerciseButton
{
	background-image: url('../img/StartExercises.png');
	background-size:cover;
	display:block;
	
	position:absolute;
	top: 60px;
	right: 30px;
    width: 188px;
    height: 114px;
}

.returnToMenuButton
{
	background-image: url('../img/ReturnToStart.png');
	background-size:cover;
	display:block;
	
	position:absolute;
	bottom: 100px;
	right: 30px;
	width: 188px;
    height: 114px;
}

.buttonText
{
	font-family:arial;
	font-size:35px;

	position:absolute;
	top: 10%;
	left: 24%;

}