.smallScore
{
	background-image:url(../img/exerciseScreen/ScoreSmall.png);
	background-repeat:repeat-x;
	background-color:#201010;
	position:absolute;
	left:80px;
	top:15px;
	width:640px;
	height:81px;
	
	overflow: hidden;
	
	border:2px solid #000000;
}

.largeScore
{
	background-image:url(../img/exerciseScreen/ScoreLarge.png);
	background-repeat:repeat-x;
	position:absolute;
	left: 60px;
	top: 120px;
	width:680px;
	height:360px;
	
	overflow: hidden;
	
	border-left:2px solid #000000;
	border-right:2px solid #000000;
}

.largeScoreBack
{
	background-color:#101020;
	opacity:0.8;

	position:absolute;
	left: 60px;
	top: 98px;
	width:680px;
	height:360px;
	
	border-left:2px solid #000000;
	border-right:2px solid #000000;
	
	border-top:2px solid #000000;
	border-bottom:10px solid #000000;
}

.largeScoreContainer
{
	position:absolute;
	width:80000px;
	height:360px;
	
	overflow: hidden;
}

.largeScoreBar
{
	background-image:url(../img/exerciseScreen/ScoreBar.png);
	position:absolute;
	top:0px;
	
	width:5px;
	height:222px;
	
	margin-left:-2.5px
}

.smallScoreBar
{
	background-image:url(../img/exerciseScreen/ScoreBar.png);
	background-size:cover;
	position:absolute;
	
	width:3px;
	height:78px;
	
	margin-left:-2.5px
}

.smallView
{
	position:absolute;
	left:247px;
	top:-3px;
	width:142px;
	height:81px;
	
	border:3px solid #0050F0;
	z-index: 1;
}

.chordInput
{
	background-image:url(../img/exerciseScreen/ChordInput.png);
	
	position:absolute;
	left:0px;
	top:0px;
	width:50px;
	height:60px;
}

.chordInputFixed
{
	background-image:url(../img/exerciseScreen/ChordInputFixed.png);
	
	position:absolute;
	left:0px;
	top:0px;
	width:50px;
	height:60px;
}

.chordInputContainer
{	
	position:absolute;
	left:5px;
	top:6px;
	width:40px;
	height:47px;
	
	overflow: hidden;
}

.romanNumeral
{
	background-image:url(../img/exerciseScreen/RomanNumerals.png);
	
	position:absolute;
	left:-5px;
	top:-6px;
	width:50px;
	height:1260px;	
}

.sampleChord
{
	background-image:url(../img/exerciseScreen/LargeScoreNotes.png);
	
	position:absolute;
	top:0px;
	width:60px;
	height:244px;
}

.sampleChordFixed
{
	background-image:url(../img/exerciseScreen/LargeScoreNotesFixed.png);
}



#menuBack
{
	background-image:url(../img/exerciseScreen/Menu.png);
	
	display:block;

	position:absolute;
	left:0px;
	bottom:0px;
	width:190px;
	height:71px;	
}

#settings{
        background-image:url(../img/exerciseScreen/ExerciseSettings.png);
        position:absolute;
        left:138px;
        bottom:0px;
        width:190px;
        height:71px;
}

#result
{
	background-image:url(../img/exerciseScreen/Spinnydial.png);
        
	position:absolute;
	bottom:0px;
	left:345px;
	width:110px;
	height:110px;	
}

#hintButton
{
	background-image:url(../img/exerciseScreen/Help.png);
	position:absolute;
	bottom:0px;
	right:0px;
	width:160px;
	height:71px;	
}

#checkAnswer{
	background-image:url(../img/exerciseScreen/CheckAnswer.png);
	
	display:block;

	position:absolute;
	bottom:0px;
	right:134px;
	width:190px;
	height:71px;	
}

#sampleNotes{
    position:relative;
    left:+90px;
}