/* 
    Document   : statScreen
    Created on : Mar 3, 2013, 8:06:35 PM
    Author     : Dan
    Description:
        Purpose of the stylesheet follows.
*/

#tabs-left { 
    position: relative; 
    padding-left: 5em; 
} 
#tabs-left .ui-tabs-nav { 
    position: absolute; 
    left: 3.5em; 
    top: 5em; 
    bottom: 21em; 
    width: 9em; 
    padding: 0.3em 0.3em 0.3em 0.2em; 
} 
#tabs-left .ui-tabs-nav li { 
    right: 0px; 
    width: 100%; 
    border-right: none; 
    border-bottom-width: 1px !important; 
    -moz-border-radius: 3px 0px 0px 3px; 
    -webkit-border-radius: 3px 0px 0px 3px; 
    border-radius: 3px 0px 0px 3px; 
    overflow: hidden; 
} 
#tabs-left .ui-tabs-nav li.ui-tabs-selected, 
#tabs-left .ui-tabs-nav li.ui-state-active { 
    border-right: 3px solid transparent; 
} 
#tabs-left .ui-tabs-nav li a { 
    float: left; 
    width: 100%; 
    text-align: left; 
} 
#tabs-left > div { 
    height: 35em; 
    background:transparent;
}

.tabContent{
    position:relative;
    left:150px;
    right:400px;
    alignment-adjust: right;
}

.tabContent > h2{
    
}
.tabContent > td {
    
}

.tabContainer
{
	background:none;
}

.tabContainerBack
{
	position:absolute;
	
	background-color:#FFF;
	border: 2px solid #000;
	opacity:0.75;
	
	left:5%;
	top:5%;
	width:90%;
	height:90%;
}

#badge{
    position:relative;
    left:+90px;
}

.backDiv
{
	position:absolute;
	top:380px;
	left:0px;
	width:150px;
	height:45px;
}

.backList
{
	position: absolute;
	left: 3.5em;
	top: 5em;
	bottom: 21em;
	width: 100%;
	height: 100%;
	padding: 0.3em 0.3em 0.3em 0.2em;
}

.backListItem
{
	right: 0px;
	width: 100%;
	
	border-right: medium none;
	border-bottom-width: 1px !important;
	
	border-radius: 3px 0px 0px 3px;
	overflow: hidden;
}
  
.backAnchor
{
	float: left;
	width: 75%;
	text-align: left;
}